/* seletor */

h1 {
    font-size: 60px;
    background-color: rgb(120, 30, 60);
    /* color: rgb(250, 255, 250); */
    color: #FAFFFA;
    text-align: center;
    font-family: "Open Sans",sans-serif; 
}

h2 {
    font-size: 40px;
    /* se não tiver a fonte Open Sans ele vai usar a font Arial */
    /* font-family: "Open Sans","Arial";  */
    font-family: "Open Sans",sans-serif; 
}